<h1>New game</h1>

<%= render 'form' %>

<%= link_to 'Back', home_index_path,{:style=>'color:#415989;',:class => "a"} %>
<%= link_to 'Create New Game', new_game_path, {:style=>'color:#415989;',:class => "a"}%>
