<p id="notice"><%= notice %></p>

<p>
  <b>userName:</b>
  <%= @user.name %><br />
  <b>EmailId:</b>
  <%= @user.email_id %><br />
  
  <%#= @user.games[0].gamename if @user.games[0] %><br />
  
  <em><%= link_to 'Next', games_path,:class => "delete-link" %></em>
</p>

